name: Wake Up If Sleeping

on:
  schedule:
    - cron: '0 18 */3 * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Set up uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies with uv
        run: |
          uv sync
          source .venv/bin/activate
          python -m playwright install

      - name: Run hq.py
        run: |
          source .venv/bin/activate
          python open_page_to_stay_awake.py
